.homepage {
  margin: 2rem;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
}
.user {
  color: #f7f9ff;
  padding: 1rem 1rem 0rem;
}

.answer {
  color: #c3c4c1;
  padding: 0.5rem;
}
#button {
  margin: -0.3rem 1rem 0rem;
  text-transform: none;
}
.form {
  background-color: #1b263b;
  display: flex;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 50px;
}
