body {
  height: 100vh;
  overflow: hidden;
margin: 0px;
}
.container {
  display: flex;
  flex-direction: row;
}
.register {
  box-shadow: 1px -1px 51px -13px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 1px -1px 51px -13px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 1px -1px 51px -13px rgba(0, 0, 0, 0.46);
  background-color: rgb(255, 250, 245);
  padding: 150px;
  border-radius: 25px 0px 0px 25px;
}
h1 {
  font-family: cursive;
  margin-top: -2.5rem;
}
a {
  text-decoration: none;
}
.welcome {
  background: linear-gradient(
    237deg,
    rgba(136, 143, 237, 1) 0%,
    rgba(46, 189, 253, 1) 100%
  );
  border-radius: 0px 25px 25px 0px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  cursor: pointer;
}

#btn {
  margin-top: 0.5rem;
  border-radius: 25px;
  font-size: 1rem;
  font-family: "Gill Sans", sans-serif;
}
#title {
  color: rgb(247, 251, 255);
}
p {
  font-family: cursive;
  font-size: 1.2rem;
  color: rgb(247, 251, 255);
}
form {
  display: flex;
  flex-direction: column;
}
.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: -0.2rem;
  margin-left: 1.2rem;
}
.input {
  margin: 0.2rem;
}
/* Home page style*/
.homeContainer {
  background-color: rgb(177, 188, 253);
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
